[Unit]
Description=Sentry Main Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory={{ sentry.workingdir }}
Environment=SENTRY_CONF={{ sentry.configpath }}
ExecStart=/usr/bin/sentry run web


[Install]
WantedBy=multi-user.target
