[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory={{ sentry.workingdir }}
Environment=SENTRY_CONF={{ sentry.configpath }}
ExecStart=/usr/bin/sentry run worker

[Install]
WantedBy=multi-user.target
